.shopping-navbar {
  background-color: #ffffff;
  color: #fff;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  height: 100px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 1200px;
  margin: auto;
}

.navbar-logo {
  display: flex;
  align-items: center;
  color: #3e3e3e;
  text-shadow: 0 0 11px #00ff0d;
}

.logo-image {
  height: 60px;
  margin-right: 10px;
}

.brand-name {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar-links a, .dropdown .dropbtn {
  margin: 0 15px;
  color: #3e3e3e;
  text-decoration: none;
  font-size: 1.1rem;
}

.navbar-links a:hover, .dropdown:hover .dropbtn {
  color: #4ba000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #b1a9a9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-search {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.navbar-search input {
  padding: 8px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 50px;
  border-bottom: 2px solid rgb(145, 145, 145);
}

.navbar-search button {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #308800;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.icon-link {
  margin-left: 15px;
  color: #202020;
  text-decoration: none;
  font-size: 1.1rem;
}

.icon-link:hover {
  color: #4ba000;
}

.icon {
  margin-right: 5px;
  font-size: 1.3rem;
}

.btnn {
  display: inline-block;
  background-color: #3498db00; /* Blue background color */
  color: rgb(54, 54, 54); /* White text color */
  text-align: center;
  padding: 10px 20px; /* Padding inside the button */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Cursor on hover */
  text-decoration: none; /* No underline */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s ease; /* Smooth color transition */
}
.btnn:hover{
  color: #4ba000;
}

.modal-backdrop.show {
  opacity: 0.5; /* تنظیم شفافیت پس‌زمینه */
  background-color: rgba(0, 0, 0, 0.5); /* رنگ مات برای پس‌زمینه */
}

/* اضافه کردن خاصیت blur به پس‌زمینه مدال‌های بوت‌استرپ */
.modal-backdrop {
  backdrop-filter: blur(5px); /* تنظیم مات بودن پس زمینه */
  background-color: rgba(0, 0, 0, 0.5); /* تنظیم رنگ پس زمینه با شفافیت */
}

.textt:hover{
  text-shadow: 0 0 9px #05ff05;
  transition: text-shadow 0.5s ease;
}

.size-icon-check:hover{
  text-shadow: 0 0 7px #38c301;
  color: #202020;
  transition: color 0.3s ease; /* ترنزیشن بر روی r به مدت 0.3 ثانیه با حالت نرم (ease) */
}





.custom-modal .modal-content { /* این مودال کانتنت باید دقیقا همین نام رو داشته باشه. در واقع برای بوت استرپه استفاده میشه برای محتوای داخلی مودال که
  تغییر کنه همراه با تغییر کادر مودال*/
  border: 4px solid #ececec; /* Example border style */
  border-radius: 7px; /* Optional: Rounded corners */

  
}
